.App {
  text-align: center;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  width: 50%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.date {
  text-align: left;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
}

.items {
  display: flex;
}

.todos__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todos__item--text {
  flex: 1;
  padding: 0.25em 1em;
  margin-top: 0.25em;
  text-align: left;
  margin: 0 0.5em;
}

.todos__item--text:focus,
.todos__item--text:hover {
  outline: 1px solid #cecece;
}

.todo-complete {
  background: #f7f7f7;
  text-decoration: line-through;
  opacity: 0.5;
}

.button--delete {
  cursor: pointer;
  color: rgb(255, 88, 88);
}

.button--delete:hover {
  color: red;
}

.todos__input {
  flex: 1;
  padding: 0.5em;
  outline: none;
  border: 1px solid #e5e5e5;
  border-radius: 0;
}

.todos__form {
  display: flex;
  justify-content: space-between;
}

.todos__button {
  background: #e7e7e7;
  border-radius: 0;
  border: none;
  cursor: pointer;
  padding: 0.5em 1.5em;
}

.todos__button:hover {
  background: #cdcdcd;
}
